*{
  margin: 0;
  padding: 0;

}

.app-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register-container{
  padding: 1rem 1.5rem;
  width: max-content;
  height: max-content;

  margin-top: 1.5rem;
  border: 3px solid black;
  border-radius: 1rem;

}

.register-title{
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: fantasy
}

.register-input{
  display: block;
  margin: 1rem auto;
  padding: 7px 0
}

.register-button{
  padding:  2px 5px;
}
